body {
    background-color: #0f172a;
    color: #e5e7eb;
    font-family: "Courier New", monospace;
}

h1, h2, h3 {
    color: #22c55e;
}

.stButton > button {
    background-color: #22c55e;
    color: black;
    font-weight: bold;
    border-radius: 6px;
}

.stTextInput input, .stTextArea textarea {
    background-color: #020617;
    color: #22c55e;
    border: 1px solid #22c55e;
}
